* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.btn {
    position: absolute;
    top: 15px;
    left: 45px;
    height: 45px;
    width: 45px;
    font-weight: 700;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    background: #1b1b1b;
    transition: left .4s ease;
}
.btn.click{
    left: 260px;
}

.btn span {
    color: #fff;
    font-size: 28px;
    line-height: 45px;
}
.btn.click span:before{
    content: 'X ';
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 250px;
    background-color: black;
    color: #fff;
    left: -250px;
    transition: left .4s ease;
}
.sidebar.show{
    left: 0px;
}

.sidebar .text {
    font-size: 25px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
    background: #1e1e1e;
}

nav ul {
    background: #1b1b1b;
    list-style: none;
    height: 100%;
    width: 100%;
}

nav ul li {
    line-height: 60px;
}

nav ul li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}

nav ul li a:hover {
    color: cyan;
    background: #1e1e1e;
    border-left-color: cyan;
}

nav ul ul {
    /* position: static; */
    display: none;
}

nav ul ul .feature-show.show {
    display: block;
}

nav ul ul li a {
    font-size: 16px;
    color: #e6e6e6;
    padding-left: 80px;
}

nav ul li a span {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform .4s;
}

nav ul li a:hover span {
    transform: translateY(-50%) rotate(-180deg);
}